<div class="max-w-md p-6 w-[420px] shadow-lg rounded-lg">
    <div class="flex flex-col font-sans">
        <h1 class="font-medium text-4xl text-center">Form Data</h1>
        <form class="p-2 space-y-4" [formGroup]="form">
            <div>
                <rx-input title="Usuario" name="username" placeholder="@juanes" inputType="text"
                    formControlName="username">
                </rx-input>
            </div>
            <div>
                <rx-select title="Type" placeholder="Selecciona..." name="type" [native]="false"
                    [asyncOptions]="asyncOptions" formControlName="type"></rx-select>
            </div>
            <div class="space-y-2" formGroupName="person">
                <h3 class="font-medium text-xl">Person Data</h3>
                <div>
                    <rx-input title="Name" name="name" placeholder="Juan Pepe" inputType="textarea"
                        formControlName="fullname"></rx-input>
                </div>

                <div>
                    <rx-input title="Email" name="email" placeholder="juan@email.com" inputType="email"
                        formControlName="email"></rx-input>
                </div>
                <div>
                    <rx-input title="Phone" name="phone" placeholder="(000) 000-0000" inputType="tel"
                        formControlName="phone"></rx-input>
                </div>
            </div>
            <div>
                <rx-input title="Price" name="price" inputType="currency" formControlName="amount"></rx-input>
            </div>
            <div>
                <rx-switch [native]="true" title="Online" name="online" formControlName="online"></rx-switch>
            </div>
            <div>
                <rx-radios title="Radios" name="radios" [options]="radioOptions" formControlName="radio"></rx-radios>
            </div>
            <div class="mt-6 flex">
                <button type="button" [disabled]="form.invalid || form.disabled" (click)="save()" class="submit">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>
