<div class="max-w-md p-6 w-[420px] shadow-lg rounded-lg">
    <div class="flex flex-col font-sans">
        <h1 class="font-medium text-4xl text-center">Form Data</h1>
        <form class="p-2 space-y-4" [formGroup]="form">
            <div class="input-group">
                <label class="title" for="username">Username</label>
                <div>
                    <input [class.input-error]="formUsername.invalid && (formUsername.touched || formUsername.dirty)" class="input-text" type="text" formControlName="username" name="username" id="username" />
                    <div class="h-5 w-full">
                        <small class="error-message" *ngIf="(formUsername.touched || formUsername.dirty) && formUsername.hasError('required')" >El campo es requerido.</small>
                    </div>
                </div>
            </div>
            <div class="input-group">
                <label class="title" for="type">Type</label>
                <div class="flex justify-star gap-6">
                    <div class="space-x-2">
                        <input class="input-radio" type="radio" formControlName="type" name="type" value="MASTER" >
                        <span class="content">Master</span>
                    </div>
                    <div class="space-x-2">
                        <input class="input-radio" type="radio" formControlName="type" name="type" value="ADMINISTRADOR" >
                        <span class="content">Admin</span>
                    </div>
                </div>
            </div>
            <div class="space-y-2" formGroupName="person">
                <h3 class="font-medium text-xl">Person Data</h3>
                <div class="input-group">
                    <label class="title" for="name">Name</label>
                    <div>
                        <input [class.input-error]="formPersonFullname.invalid && (formPersonFullname.touched || formPersonFullname.dirty)" class="input-text" type="text" formControlName="fullname" name="name" id="name"  />
                        <div class="h-5 w-full">
                            <small class="error-message" *ngIf="(formPersonFullname.touched || formPersonFullname.dirty) && formPersonFullname.hasError('required')" >El campo es requerido.</small>
                            <small class="error-message" *ngIf="(formPersonFullname.touched || formPersonFullname.dirty) && formPersonFullname.hasError('minlength')" >El campo debe tener minimo 3.</small>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <label class="title" for="email">Email</label>
                    <div>
                        <input [class.input-error]="formPersonEmail.invalid && (formPersonEmail.touched || formPersonEmail.dirty)" class="input-text" type="email" formControlName="email" name="email" id="email"/>
                        <div class="h-5 w-full">
                            <small class="error-message" *ngIf="(formPersonEmail.touched || formPersonEmail.dirty) && formPersonEmail.hasError('required')" >El campo es requerido.</small>
                            <small class="error-message" *ngIf="(formPersonEmail.touched || formPersonEmail.dirty) && formPersonEmail.hasError('email')" >El campo debe ser email valido.</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-6 flex">
                <button type="button" [disabled]="form.invalid" (click)="save()" class="submit">Guardar</button>
            </div>
        </form>
    </div>
</div>
