<div class="input-group">
    <label class="title" [class.error]="isInvalid()" [for]="name">
        {{ title }}
    </label>
    <div>
        <textarea *ngIf="inputType == 'textarea'" class="input-text" [class.input-error]="isInvalid()" [name]="name"
            [id]="idField" rows="3" [placeholder]="placeholder" [value]="value" (input)="onInput($event)"
            (blur)="onTouch()" [disabled]="isDisabled"></textarea>

        <input *ngIf="inputType == 'currency'" class="input-text" type="tel" [class.input-error]="isInvalid()"
            [name]="name" [id]="idField" (blur)="onTouch()" [disabled]="isDisabled" currencyMask [(ngModel)]="value"
            (keyup)="onCurrencyInput($event)" [options]="currencyOptions">

        <input *ngIf="[
          'text',
          'password',
          'email',
          'number',
          'search',
          'tel',
          'url'
        ].includes(inputType)" class="input-text" [class.input-error]="isInvalid()" [type]="inputType" [name]="name"
            [id]="idField" [placeholder]="placeholder" [value]="value" (input)="onInput($event)" (blur)="onTouch()"
            [disabled]="isDisabled" />

        <div class="h-5 w-full">
            <small class="error-message" *ngIf="showErrorMessage()">
                {{ getErrorMessage() }}
            </small>
        </div>
    </div>
</div>
